﻿@using Phobos.Helpers
@using Phobos.Library.Utils
@using Phobos.Utils;
@model MessageMailBoxItemViewModel

@section _ContentHeader {
    <section class="content-header">
        <h1>
            Mailbox
            <small>@Model.Title</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Content("~")"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Mailbox</li>
        </ol>
    </section>
}

@section scripts{
    <script>
        var modelId = '@Model.MessageId';
        var url = "@Url.Action("Remove", "Message")";
        var finalurl = "@Url.Action("Index", "Message")";

        $(function () {
            $("#btnRemove").click(removeCurrent);
        });

        function removeCurrent() {
            var modelIds = [];
            modelIds.push(modelId);

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    selectedIds: modelIds
                },
                success: function (data) {
                    window.location.replace(finalurl);
                }
            });
        }
    </script>
}

<div class="row">
    <div class="col-md-3">
        <a href="@Url.Action("Compose")" class="btn btn-primary btn-block margin-bottom">Compose</a>
        @Html.Action("GetFolderBox")
        @*
            Tags is not in place for the moment
            @Html.Partial("_TagsBox", Model.Tags)
        *@
    </div>
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Read Mail</h3>
                <div class="box-tools pull-right">
                    <a href="@Url.Action("FindNextMessage", new { Id = Model.MessageId, IsPrevious = true })" class="btn btn-box-tool" data-toggle="tooltip" title="Previous"><i class="fa fa-chevron-left"></i></a>
                    <a href="@Url.Action("FindNextMessage", new { Id = Model.MessageId })" class="btn btn-box-tool" data-toggle="tooltip" title="Next"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="box-body no-padding">
                <div class="mailbox-read-info">
                    <h3>@Model.Title</h3>
                    <h5>From: @Model.Sender.Username <span class="mailbox-read-time pull-right">@Html.TimeAgo(Model.Date)</span></h5>
                </div>
                <div class="mailbox-controls with-border text-center pull-right">
                    <div class="btn-group ">
                        <button class="btn btn-default btn-sm"  title="Delete" data-toggle="modal" data-target="#modalDelete"><i class="fa fa-trash-o"></i></button>
                        <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Reply"><i class="fa fa-reply"></i></button>
                        <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Forward"><i class="fa fa-share"></i></button>
                    </div>
                    <button class="btn btn-default btn-sm " onclick="window.print();" data-toggle="tooltip" title="Print"><i class="fa fa-print"></i></button>
                </div>
                <div class="mailbox-read-message">
                    @Html.Raw(Model.Message)
                </div>
            </div>
            <div class="box-footer">
                @*
                    <ul class="mailbox-attachments clearfix">
                        <li>
                            <span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>
                            <div class="mailbox-attachment-info">
                                <a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> Sep2014-report.pdf</a>
                                <span class="mailbox-attachment-size">
                                    1,245 KB
                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                </span>
                            </div>
                        </li>

                    </ul>
                *@
            </div>
            <div class="box-footer">
                <div class="pull-right">
                    @if (Model.AllowEdit)
                    {
                        <a href="@Url.Action("Compose","Message",new { id= Model.MessageId})" class="btn btn-default"><i class="fa fa-reply"></i> Edit</a>
                    }
                    <button class="btn btn-default"><i class="fa fa-reply"></i> Reply</button>
                    <button class="btn btn-default"><i class="fa fa-share"></i> Forward</button>
                </div>
                <button data-toggle="modal" data-target="#modalDelete" class="btn btn-default"><i class="fa fa-trash-o"></i> Delete</button>
                <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-primary fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Message</h4>
            </div>
            <div class="modal-body">
                Do you realy want to delete the this message?
            </div>
            <div class="modal-footer">
                <button type="button" onclick="return false;" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button name="remove" type="submit" formaction="" class="btn btn-outline" id="btnRemove">Delete</button>
            </div>
        </div>
    </div>
</div>