﻿@model ChangePasswordViewModel

@using (Ajax.BeginForm("ChangePassword", "Account", new { }, new AjaxOptions()
{
    UpdateTargetId = "changePassword",
    OnSuccess = "onSuccess",
    OnFailure = "onFailure"
}, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(x => x.UserName)
    <div class="form-group">
        @Html.LabelFor(x => x.OldPassword, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control", @type = "password" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ConfirmPassword, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @type = "password" })
        </div>
    </div>
    <div class="box-footer">
        <div class="pull-right">
            <button type="submit" name="submit" value="Draft" class="btn btn-primary"><i class="fa fa-save"></i> Submit</button>
        </div>
    </div>
}