﻿@model UserAccountViewModel

@using (Ajax.BeginForm("EditProfile", "Account", new { }, new AjaxOptions()
{
    UpdateTargetId = "profileDetails",
    OnSuccess = "onSuccess",
    OnFailure = "onFailure"
}, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.CurrentStatus)
    @Html.HiddenFor(x => x.FavoriteLinks)
    @Html.HiddenFor(x => x.ImageAlt)
    @Html.HiddenFor(x => x.ImageUrl)
    @Html.HiddenFor(x => x.Username)
    @Html.HiddenFor(x => x.Roles)
    <div class="form-group">
        @Html.LabelFor(x => x.FirstName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.LastName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.MemberSince, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                @if (!Model.Roles.Any(x => x.IsAdmin))
                {
                    @Html.TextBoxFor(x => x.MemberSince, new { @class = "form-control" }) }
                else
                {
                    @Html.TextBoxFor(x => x.MemberSince, new { @class = "form-control", @disabled = "disabled" })
                    @Html.HiddenFor(x => x.MemberSince)
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.BirthDate, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                @Html.TextBoxFor(x => x.BirthDate, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Position, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Position, new { @class = "form-control" })
        </div>
    </div>
    <div class="box-footer">
        <div class="pull-right">
            <button type="submit" name="submit" value="Draft" class="btn btn-primary"><i class="fa fa-save"></i> Submit</button>
        </div>
    </div>
}
@section scripts {
    <script>
        $(function () {
            $("#@Html.IdFor(x => x.BirthDate)").val("@Model.BirthDate.ToString("dd-MM-yyyy")");
            $("#@Html.IdFor(x => x.BirthDate)").inputmask("dd/mm/yyyy", { "placeholder": "dd/mm/yyyy" });
            $("#@Html.IdFor(x => x.BirthDate)").datepicker({ format: 'dd/mm/yyyy' });

            $("#@Html.IdFor(x => x.MemberSince)").val("@Model.MemberSince.ToString("dd-MM-yyyy")");
            $("#@Html.IdFor(x => x.MemberSince)").inputmask("dd/mm/yyyy", { "placeholder": "dd/mm/yyyy" });
            $("#@Html.IdFor(x => x.MemberSince)").datepicker({ format: 'dd/mm/yyyy' });

            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%'
            });
        });
    </script>
}