﻿@model UserAccountDetailViewModel
@{
    var showChangePassword = Model.ChangePassword != null;
}
@section _ContentHeader {
    <section class="content-header">
        <h1>
            User Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="@Url.Action("ListUsers","Account")"><i class="fa fa-users"></i> Users</a></li>
            <li class="active"><i class="fa fa-user"></i> User profile</li>
        </ol>
    </section>
}

<section class="content">
    <div class="row">
        <div class="col-md-3" id="profileDetails">
            @Html.Partial("_ProfileDetails", Model.ProfileDetails)
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#profile" data-toggle="tab">Settings</a></li>
                    @if (showChangePassword)
                    {
                        <li><a href="#changePassword" data-toggle="tab">Change Password</a></li>
                    }
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="profile">
                        @Html.Partial("_EditProfile", Model.ProfileDetails)
                    </div>
                    @if (showChangePassword)
                    {
                        <div class="tab-pane" id="changePassword">
                            @Html.Partial("_ChangePassword", Model.ChangePassword)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        function onSuccess() { ohSnap('The request was processed with sucess.', { color: 'green' }); }
        function onFailure() { ohSnap('Something went wrong...', { color: 'red' }); }
    </script>
}