﻿@using Phobos.Helpers
@model IEnumerable<UserRoleViewModel>
@section _ContentHeader {
    <section class="content-header">
        <h1>
            Users
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="@Url.Action("ListGroups","Account")"><i class="fa fa-users"></i> Groups</a></li>
        </ol>
    </section>
}

@Html.SetPartialHelper("ButtonsForPager", (Func<HelperResult>)(ButtonsForPager))

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Groups</h3>
    </div>

    <div class="box-body no-padding">
        @(Html
        .Grid(Model)
        .Named("roles")
        .Build(columns =>
        {

            columns.Add(model => model.Name)
                    .Encoded(true)
                    .Filterable(false)
                    .Titled("Name")
                    .RenderedAs(model => model.Name);

            columns.Add(model => model.Name)
                   .Encoded(false)
                   .Filterable(false)
                   .Titled("")
                   .RenderedAs(model =>
                    @"<a data-toggle='modal' data-target='#modalEditRole_" + model.Name + "'  title='Edit Role'><span class='label-primary label'>Edit</span></a> &nbsp;" +
                    @"<a data-toggle='modal' data-target='#modalDeleteRole_" + model.Name + "'  title='Delete Role'><span class='label-danger label'>Delete</span></a>");

        })
        .Filterable(false)
        .Sortable(false)
        .Css("table-hover table-striped box-footer no-padding mailbox")
        .Pageable(pager =>
        {
            pager.PagesToDisplay = 0;
            pager.InitialPage = 1;
            pager.RowsPerPage = 16;
        })
        )
    </div>
</div>

<style>
    .folderList {
        height: 24px;
        width: 24px;
    }

    .img {
        width: 30px;
    }
</style>

@helper ButtonsForPager()
{
    <div class="btn-group">
        <button onclick="return false;" data-toggle="modal" data-target="#modalAddRole" class="btn btn-default btn-sm" title="Create Role"><i class="fa fa-users"></i></button>
    </div>

    <div class="btn-group">
        <a href="@Url.Action("ListUsers")" class="btn btn-default btn-sm" title="List Users">Users</a>
    </div>
}

@foreach (UserRoleViewModel item in Model)
{
    <div class="modal fade" id="modalEditRole_@item.Name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            @Html.Action("EditRole", new { name = item.Name })
        </div>
    </div>

    <div class="modal fade" id="modalDeleteRole_@item.Name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            @Html.Action("DeleteRole", new { name = item.Name })
        </div>
    </div>
}
<div class="modal fade" id="modalAddRole" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" id="createRoleContainer">
        @Html.Action("CreateRole")
    </div>
</div>