﻿@using Phobos.Helpers
@model IEnumerable<UserAccountViewModel>

@section _ContentHeader {
    <section class="content-header">
        <h1>
            Users
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="@Url.Action("ListUsers","Account")"><i class="fa fa-users"></i> Users</a></li>
        </ol>
    </section>
}

@Html.SetPartialHelper("ButtonsForPager", (Func<HelperResult>)(ButtonsForPager))

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Users</h3>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                <input type="text" class="form-control input-sm grid-search" placeholder="Search Mail" name="search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                <button id="searchButton" name="search" type="submit" style="display:none;"></button>
            </div>
        </div>
    </div>

    <div class="box-body no-padding">
        @(Html
        .Grid(Model)
        .Named("users")
        .Build(columns =>
        {
            columns.Add(model => model.ImageAlt)
               .Encoded(false)
               .Filterable(false)
               .Css("img")
               .RenderedAs(model => "<img src=\"" + model.ImageUrl + "\" class=\"user-image folderList img-circle\" width=\"24px\" alt=\"User Image\">");


            columns.Add(model => model.Username)
                   .Encoded(false)
                   .Filterable(true)
                   .Titled("Username")
                   .RenderedAs(model => "<a href='" + @Url.Action("EditProfile", "Account", new { username = model.Username }) + "'>" + model.Username + "</a>");

            columns.Add(model => model.FullName)
                    .Encoded(true)
                    .Filterable(true)
                    .Titled("Name")
                    .RenderedAs(model => model.FullName);

            columns.Add(model => model.CurrentStatus)
                      .Encoded(false)
                      .Filterable(true)
                      .Titled("Status")
                      .RenderedAs(model => "<i class=\"fa fa-circle " + model.CurrentStatus.AsTextCssClass() + "\"></i> " + model.CurrentStatus + "");

            columns.Add(model => model.BirthDate)
                    .Encoded(true)
                    .Filterable(true)
                    .Titled("Birth Date")
                    .RenderedAs(model => model.BirthDate.ToShortDateString());

            columns.Add(model => model.MemberSince)
                  .Titled("Member Since")
                  .Encoded(true)
                  .Filterable(false)
                    .RenderedAs(model => model.MemberSince.ToShortDateString());

            columns.Add(model => model.Roles)
               .Titled("Roles")
               .Encoded(false)
               .RenderedAs(model => model.Roles.GetRolesAsLabels())
               .Filterable(false);
        })
        .Filterable(false)
        .Sortable(false)
        .Css("table-hover table-striped box-footer no-padding mailbox")
        .Pageable(pager =>
        {
            pager.PagesToDisplay = 0;
            pager.InitialPage = 1;
            pager.RowsPerPage = 16;
        })
        )
    </div>
</div>

<div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" id="createProfileContainer">
        @Html.Action("CreateProfile")
    </div>
</div>
<div class="modal fade" id="modalAddRole" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" id="createRoleContainer">
        @Html.Action("CreateRole")
    </div>
</div>
<style>
    .folderList {
        height: 24px;
        width: 24px;
    }

    .img {
        width: 30px;
    }
</style>

@helper ButtonsForPager()
{
    <div class="btn-group">
        <button onclick="return false;" data-toggle="modal" data-target="#modalAddUser" class="btn btn-default btn-sm" title="Create User"><i class="fa fa-user-plus"></i></button>
        <button onclick="return false;" data-toggle="modal" data-target="#modalAddRole" class="btn btn-default btn-sm" title="Create Role"><i class="fa fa-users"></i></button>
    </div>

    <div class="btn-group">
        <a href="@Url.Action("ListGroups")" class="btn btn-default btn-sm" title="List Groups">Groups</a>
</div>
}
